
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div>


    <fieldset>
        <legend>Home</legend>


        <a href="http://localhost:4860/RoomInfo/Save/RoomInfo">Save Room Info</a>
        <br/>
        <a href="http://localhost:4860/BookRoom/Save/BookRoom">Book room</a>
        <br/>
        <a href="http://localhost:4860/ViewAvailableRooms/Show/AvailableRooms">View Specific Room on Specific Date</a>


    </fieldset>
</div>
</body>
</html>
